<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="../asstes/CSS/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="body">
            <div class="body-editor">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis culpa eligendi id vero eos cupiditate
                deleniti,
                atque ab? Iure excepturi alias aperiam, ullam iste magni at saepe laborum labore voluptatibus!
            </div>
            <div class="body-dates">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sed sequi perspiciatis nobis
                expedita. Est
                quibusdam, quod nobis tempore mollitia quam! Doloribus facilis magnam animi assumenda iste praesentium
                earum eum
                quisquam ad beatae, debitis, ratione, rerum iure modi accusantium? Numquam doloribus, iure nam, quam
                consequatur eos
                perferendis nisi repellendus nulla recusandae cum provident et voluptatem odio quod quos esse dolor
                incidunt
                voluptas eveniet! Ipsam, possimus inventore tempore blanditiis doloribus sit, ratione magnam eligendi
                voluptatum,
                pariatur excepturi praesentium dolor nobis voluptatibus.
            </div>
            <div class="body-footer">
                <button>Save</button>
                <button>Clear</button>
            </div>
        </div>
        <div class="display-diary">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <div class="footer">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis culpa eligendi id vero eos cupiditate
            deleniti,
            atque ab? Iure excepturi alias aperiam, ullam iste magni at saepe laborum labore voluptatibus!
        </div>
    </div>
</body>

</html>